* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* 스크롤 방지 */
}

body {
    position: relative;
    cursor: none; /* 커서 숨김 */
}

#counter {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    z-index: 1000;
    color: black;
}

.crane {
    width: 80px; /* crane.png의 가로 크기 80px */
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* 이미지 클릭 방지 */
}

.crane-video {
    position: absolute;
    width: 250px; /* 비디오 크기 조정: 가로 250px */
    height: auto;
}

.cormorant-infant-light-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
}

.move-and-fade {
    transition: transform 2s, opacity 2s ease-out;
    opacity: 0;
}
